.appleBlueBtn {
    background-color: #0071e3;
    color: #fff;
    font-weight: 300;
    font-family: 'Sfpro-light', sans-serif;
    border-radius: 50px;
    border: none;
    letter-spacing: -.022em;
    font-size: 17px;
    padding: 10px 25px;
}