.modalTypography {
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  color: #1d1d1f;
  font-weight: 300 !important;
  letter-spacing: 0.011em;
  line-height: 1.4705882353;
  font-family: "Sfpro-regular", sans-serif;
  opacity: 0.9;
  font-size: 17px;
}

.modalTypography:hover {
  color: #06c;
}

.collectionActive {
    color: #86868b;
}

.shareIconsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.shareIcons {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.shareIcons > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.copyToClipboardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}