.tabsContainer {
  width: 100%;
  margin-top: 70px;
  position: absolute;
  bottom: 8%;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.case-button {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
}

.case-button.expanded {
  width: 160px;
}

.case-button.expandedList {
  width: 880px;
}

.case-button.expandedSize {
  width: 130px;
}

.caseTypes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.watchCaseTypeActive {
  font-weight: 700 !important;
  font-family: "Sfpro-medium", sans-serif;
}

.bandTypes {
  gap: 10px;
}
