.tabsContainer {
  width: 100%;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.case-button {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
}

.case-button.expanded {
  width: 160px;
}
