.watchStudioHeroContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.watchStudioHeroContent {
  text-align: left;
  z-index: 1;
}

.watchStudioHeroHeading {
  font-weight: 400;
  font-size: 34px;
  font-family: "Sfpro-regular";
  letter-spacing: 0.011em;
  line-height: 1.0625;
  color: #1d1d1f;
}

.watchStudioHeroTypography > h3 {
  font-size: 21px;
  color: #1d1d1f;
  font-weight: 400;
  letter-spacing: 0.011em;
  font-family: "Sfpro-regular";
  line-height: 1.381002381;
  padding-bottom: 10px;
}

.watchStudioBtn {
  padding-top: 43px;
}

.watchStudioHeroImg {
  position: absolute;
  width: 900px;
  transition: transform 1.5s ease, width 1.5s ease, top 1.5s ease;
  margin-top: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.watchStudioDial {
  height: auto;
  position: absolute;
  transition: all 1.5s ease;
}

.watchStudioDial > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.watchStudioCase {
  height: auto;
  position: absolute;
  transition: all 1.5s ease;
}

.watchStudioCase > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.watchStudioCaseListing {
  height: auto;
  position: absolute;
  transition: all 1.5s ease;
}

.watchStudioCaseListing > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shrink {
  width: 800px;
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translateX(-50%) translateY(-30vh) scale(0.5);
  z-index: 10;
}

.new-component {
  animation: fadeIn 1.5s forwards;
}

.watchDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-top: 2vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
