@font-face {
  font-family: "Sfpro-bold";
  src: url("/fonts/SFPRO/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sfpro-medium";
  src: url("/fonts/SFPRO/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sfpro-regular";
  src: url("/fonts/SFPRO/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sfpro-light";
  src: url("/fonts/SFPRO/FontsFree-Net-SFProDisplay-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  
}

// font-family: 'MyFont1', sans-serif;
